@charset "ISO-8859-1";


#loadingwaitModal2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
#loadingwaitModal2-image {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 100;
}
div#waitModal {
    opacity: 0 !important;
}

.acciones {
	cursor:pointer;
}

.trSeleccionado{
	background-color: #a3c293  !important;
}
#formularioBAC input {
    text-transform: uppercase !important;
}